<!DOCTYPE html>
<html lang="en">

<head>
        <title>EJS Form Demo</title>
        <link rel="icon" href="favicon.png">
        <style>
                body {
                        text-align: center;
                        margin: auto;
                        max-width: 600px;
                        padding: 15px;
                }

                #container {
                        border: 3px solid blue;
                        border-radius: 15px;
                        padding: 15px;
                }
        </style>
</head>

<body>
        <div id="container">
                <h1>Hello, World! New web page, who is this?</h1>
                <!-- Placeholder image with alternative text -->
                <img src="https://placehold.co/400x200" alt="Placeholder image">

                <!-- Form with action pointing to the '/submit' route and POST method -->
                <h4><%= method %></h4>
                <form action="submit" method="<%= method %>">
                        <p>
                                <label for="first">First Name:</label>
                                <input type="text" name="first" id="first">
                        </p>
                        <p>
                                <label for="last">Last Name:</label>
                                <input type="text" name="last" id="last">
                        </p>
                        <p>
                                <textarea name="summary" rows="4" cols="50" placeholder="enter text here"></textarea>
                        </p>
                        <p>
                                <label for="item1">Item 1:</label>
                                <input type="checkbox" name="item1" id="item1">
                        </p>
                        <!-- Submit button for the form -->
                        <input type="submit" value="Submit Feedback">
                </form>
        </div>
</body>

</html>