<!-- This is an example of a fake submission results
    page for CPSC 332
     -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.png">
    <title>Submission Page</title>
    <style>
        table,
        th {
            border: 1px solid black;
        }

        td {
            border: 1px dotted black;
        }
    </style>
</head>

<body>
    <h1>Submission Results Page</h1>
    <table id="results-table">
        <caption>Widget values submitted on the previous page</caption>
        <tr>
            <th>Widget Name</th>
            <th>Widget Value</th>
        </tr>
        <!-- Adding EJS here. Note: EJS won't be seen client-side like this comment
             
        -->

        <%
        //necessary if we want to debug the EJS portion of our code.
        //debugger;
            //opening EJS tag for loop
            for (let i = 0; i < results.length; i++  ){
        %>

        <tr>
            <td>
                <%=  results[i][0] %>
            </td>
            <td>
                <%=  results[i][1] %>
            </td>
        </tr>

        <% 
            //closing EJS tag for loop
            }
        %>
    </table>

    <div style="margin: 15px;">
        <a href="/">Back</a>
    </div>
</body>

</html>